*{
 box-sizing: border-box;
}

body{
 display: flex;
 flex-direction: column;
 height: 100vh;
}

.main {
 display: flex;
 flex: 1;
}

.main__todo{
 box-sizing: border-box;
 flex: 1; 
 display: flex;
 flex-direction: column; 
 background-color: whitesmoke;
 box-sizing: border-box;
}

.main__todo-today{
 border-right: 1px solid #e4e4e4;
}

.main__todo__title{
 font-size: 28px;
 font-weight: bold;
 height: 100px;
 line-height: 100px;
 text-align: center;
}

.main__todo__items{
 display: flex;
 flex-direction: column;
 padding: 0 25px;
 flex: 1;
}

.todo__item {
 display: flex;
 justify-content: space-between;
 align-items: center;
 border-bottom: 1px solid #e4e4e4; 
 height: 35px;
}

.todo__item__remove{
 border: 0;
 background-color: whitesmoke;
 cursor: pointer;
}
.main__todo__input-form{
 outline: 0;
 border: 0;
 width: 100%;
}
.main__todo__add-form{
 text-align: center;
}

.todo__add-btn{
 font-size: 20px;
 border-radius: 20px;
 border: 0;
 background-color: black;
 color: whitesmoke;
 cursor: pointer;
}